footer{
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

@media (max-width: 768px) {
.cards {
    flex-direction: column;
}
.fontbold{
    color: white !important;
}
}

span.fontbold {
    color: white;
}

.logotipo{
    width: 22%;
    height: 21%;
    display: block;
    margin: 0 auto; /* Centralização da logotipo */
}
.nav-link{
    transform: translateX(1180%);
}
.row {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.btn-primary {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
